PORT=3000
NODE_ENV=development

# Konfigurasi Database untuk TypeORM / NestJS
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_DB=your_database_name

# Redis Configuration (Untuk Antrean Queue/BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379

# better auth
BETTER_AUTH_SECRET=your_better_auth_secret_key_here
BETTER_AUTH_URL=http://localhost:3000 

# Resend & Frontend Config (Untuk Email Invitation)
RESEND_API_KEY=re_your_resend_api_key_here
FRONTEND_URL=http://localhost:5173 
